./GW/*
./TMP/*
./GW/test_profile/TMP_FILES/*
!./GW/*/
!./GW/doc_profile/*

!./GW/*.m


!./GW/*.md
!./GW/*.html

# ./GW/test/*.mat
# Add mol and kssolv-scf result of Si8 into path
# !./GW/test/data/Si8/IntermediateFiles/molinfo.mat
# !./GW/test/data/Si8/IntermediateFiles/scinfo.mat
